<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukai.crm.workbench.mapper.ContactsRemarkMapper">
	<!-- 通用查询结果列-->
  	<resultMap id="BaseResultMap" type="com.lukai.crm.workbench.domain.ContactsRemark">
   
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="contacts_id" jdbcType="CHAR" property="contactsId" />
    
  </resultMap>
  	
  <sql id="Base_Column_List">
  	    id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, contacts_id
  </sql>
  
  <insert id="insertContactsRemarkBatch" parameterType="com.lukai.crm.workbench.domain.ContactsRemark">
  	insert into tbl_contacts_remark (id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, contacts_id)
  		values
        <foreach item="obj" collection="list" separator=",">
        	(#{obj.id},#{obj.noteContent},#{obj.createBy},#{obj.createTime},#{obj.editBy},#{obj.editTime},#{obj.editFlag},#{obj.contactsId})
        </foreach>
  </insert>




</mapper>