<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lukai.crm.workbench.mapper.ContactsMapper">

    <!-- ==================== ResultMap ==================== -->
    <resultMap id="BaseResultMap" type="com.lukai.crm.workbench.domain.Contacts">
        <id     column="id"      jdbcType="CHAR"     property="id"/>
        <result column="owner"     jdbcType="CHAR"         property="owner"/>
        <result column="source"     jdbcType="VARCHAR"        property="source"/>
        <result column="customer_id"    jdbcType="CHAR"    property="customerId"/>
        <result column="fullname"     jdbcType="VARCHAR"      property="fullname"/>
        <result column="appellation"   jdbcType="VARCHAR"     property="appellation"/>
        <result column="email"        jdbcType="VARCHAR"      property="email"/>
        <result column="mphone"     jdbcType="VARCHAR"        property="mphone"/>
        <result column="job"         jdbcType="VARCHAR"       property="job"/>
        <result column="create_by"    jdbcType="VARCHAR"      property="createBy"/>
        <result column="create_time"   jdbcType="CHAR"     property="createTime"/>
        <result column="edit_by"      jdbcType="VARCHAR"      property="editBy"/>
        <result column="edit_time"     jdbcType="CHAR"     property="editTime"/>
        <result column="description"  jdbcType="VARCHAR"      property="description"/>
        <result column="contact_summary"  jdbcType="VARCHAR"  property="contactSummary"/>
        <result column="next_contact_time" jdbcType="CHAR"  property="nextContactTime"/>
        <result column="address"     jdbcType="VARCHAR"       property="address"/>
        <result column="birthday"     jdbcType="VARCHAR"       property="birthday"/>
        <result column="customer_name"     jdbcType="VARCHAR"       property="customerName"/>
    </resultMap>

    <!-- ==================== Base Column List ==================== -->
    <sql id="Base_Column_List">
        id,
        owner,
        source,
        customer_id,
        fullname,
        appellation,
        email,
        mphone,
        job,
        create_by,
        create_time,
        edit_by,
        edit_time,
        description,
        contact_summary,
        next_contact_time,
        address,
        birthday,
        customerName
    </sql>
	
    <insert id="insertContacts" parameterType="com.lukai.crm.workbench.domain.Contacts">
        insert into tbl_contacts(
        id,owner,source,customer_id,fullname,appellation,email,mphone,job,create_by,create_time,edit_by,edit_time,description,contact_summary,next_contact_time,address
        )values(
        #{id},#{owner},#{source},#{customerId},#{fullname},#{appellation},#{email},#{mphone},#{job},#{createBy},#{createTime},#{editBy},#{editTime},#{description},#{contactSummary},#{nextContactTime},#{address}
        )
    </insert>
    
    <select id="selectContactsByNameLike" parameterType="String" resultMap="BaseResultMap">
    	<bind name="fullnamePattern" value="'%' + fullname + '%'"/>
    		select c.fullname, c.id, c.email, c.mphone
        		from tbl_contacts c
       			where c.fullname like #{fullnamePattern}
    </select>
    
    <select id="selectContactsByConditionForPage" parameterType="map" resultMap="BaseResultMap">
    	select 
    		c.id,
    		c.fullname,
    		cus.name as customerName,
    		u1.name as owner,
    		dv.value as source,
    		c.birthday
	    	from tbl_contacts c 
	    	join tbl_user u1 on c.owner=u1.id
	    	left join tbl_dic_value dv on c.source=dv.id
	    	left join tbl_customer cus on c.customer_id=cus.id
    	<where>
    		<if test="fullname != null and fullname != ''">
    			<bind name="fullnamePattern" value="'%' + fullname + '%'" />
    			and c.fullname like #{fullnamePattern}
    		</if>
    	    <if test="customerName != null and customerName != ''">
    	    	<bind name="customerNamePattern" value="'%' + customerName + '%'" />
    	         and cus.name like #{customerNamePattern}
    	     </if>
    	     <if test="owner != null and owner != ''">
    	        <bind name="ownerPattern" value="'%' + owner + '%'" />
    	         and u1.name like #{ownerPattern}
    	     </if>
    	     <if test="source != null and source != ''">
    	         and c.source = #{source}
    	     </if>
    	     <if test="birthday != null and birthday != ''">
    	         and c.birthday = #{birthday}
    	     </if>
    	</where>
    	ORDER BY c.create_time DESC
        LIMIT #{beginNo}, #{pageSize}
    </select>
	
	<select id="selectContactsByConditionForPageCount" parameterType="map" resultType="int">
		select 
    		count(1)
    	from tbl_contacts c 
	    join tbl_user u1 on c.owner=u1.id
	    left join tbl_dic_value dv on c.source=dv.id
	    left join tbl_customer cus on c.customer_id=cus.id
    	<where>
    		<if test="fullname != null and fullname != ''">
    			<bind name="fullnamePattern" value="'%' + fullname + '%'" />
    			and c.fullname like #{fullnamePattern}
    		</if>
    	    <if test="customerName != null and customerName != ''">
    	    	<bind name="customerNamePattern" value="'%' + customerName + '%'" />
    	         and cus.name like #{customerNamePattern}
    	     </if>
    	     <if test="owner != null and owner != ''">
    	        <bind name="ownerPattern" value="'%' + owner + '%'" />
    	         and u1.name like #{ownerPattern}
    	     </if>
    	     <if test="source != null and source != ''">
    	         and c.source = #{source}
    	     </if>
    	     <if test="birthday != null and birthday != ''">
    	         and c.birthday = #{birthday}
    	     </if>
    	</where>
	</select>
	
</mapper>
