<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukai.crm.workbench.mapper.CustomerMapper">
	<!-- 客户的基础结果映射 -->
	 <resultMap id="BaseResultMap" type="com.lukai.crm.workbench.domain.Customer">
	    <id column="id" jdbcType="CHAR" property="id" />
      <result column="owner" jdbcType="CHAR" property="owner" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="website" jdbcType="VARCHAR" property="website" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="create_by" jdbcType="VARCHAR" property="createBy" />
      <result column="create_time" jdbcType="CHAR" property="createTime" />
      <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
      <result column="edit_time" jdbcType="CHAR" property="editTime" />
      <result column="description" jdbcType="VARCHAR" property="description" />
      <result column="contact_summary" jdbcType="VARCHAR" property="contactSummary" />
      <result column="next_contact_time" jdbcType="CHAR" property="nextContactTime" />
      <result column="address" jdbcType="VARCHAR" property="address" />
  	</resultMap>
	<sql id="Base_Column_List">
	    id,
	    owner,
	    name,
	    website,
	    phone,
	    create_by,
	    create_time,
	    edit_by,
	    edit_time,
	    description,
	    contact_summary,
	    next_contact_time,
	    address
	</sql>
	
	<insert id="insertCustomer" parameterType="com.lukai.crm.workbench.domain.Customer">
		insert into tbl_customer (id,owner,name,website,phone,create_by,create_time,edit_by,edit_time,description,contact_summary,next_contact_time,address) 
            values (#{id},#{owner},#{name},#{website},#{phone},#{createBy},#{createTime},#{editBy},#{editTime},#{description},#{contactSummary},#{nextContactTime},#{address})
	</insert>
	
	<select id="selectCustomerByConditionForPage" resultMap="BaseResultMap" parameterType="Map">
		select c.id,u1.name as owner,c.name,c.website,c.phone,u2.name as create_by,c.create_time,u3.name as edit_by,c.edit_time,c.description,c.contact_summary,c.next_contact_time,c.address
			from tbl_customer c
					join tbl_user u1 on c.owner=u1.id
					join tbl_user u2 on c.create_by=u2.id
					left join tbl_user u3 on c.edit_by=u3.id
			<where>
				<if test="name != null and name != ''">
			    	<bind name="namePattern" value="'%' + name + '%'" />
			        and c.name like #{namePattern}
			    </if>
				<if test="owner != null and owner != ''">
					<bind name="ownerPattern" value="'%' + owner + '%'" />
					and u1.name like #{ownerPattern}
				</if>
				<if test="phone != null and phone != ''">
					<bind name="phonePattern" value="'%' + phone + '%'" />
					and c.phone like #{phonePattern}
				</if>
				<if test="website != null and website != ''">
					<bind name="websitePattern" value="'%' + website + '%'" />
					and c.website like #{websitePattern}
				</if>
			</where>
			order by c.create_time desc
			limit #{beginNo},#{pageSize}
	</select>
	
	<select id="selectCustomerByConditionForPageCount" resultType="int" parameterType="Map">
		select count(*)
		from tbl_customer c
					join tbl_user u1 on c.owner=u1.id
			<where>
				<if test="name != null and name != ''">
			    	<bind name="namePattern" value="'%' + name + '%'" />
			        and c.name like #{namePattern}
			    </if>
				<if test="owner != null and owner != ''">
					<bind name="ownerPattern" value="'%' + owner + '%'" />
					and u1.name like #{ownerPattern}
				</if>
				<if test="phone != null and phone != ''">
					<bind name="phonePattern" value="'%' + phone + '%'" />
					and c.phone like #{phonePattern}
				</if>
				<if test="website != null and website != ''">
					<bind name="websitePattern" value="'%' + website + '%'" />
					and c.website like #{websitePattern}
				</if>
			</where>
	</select>
</mapper>